<h1>Edit <%= @user.username %></h1>
<form action="/users" method="post">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name" value="First Name">
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name" value="Last Name"> <br><br>
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="Username">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" value="Email"> <br><br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Password">
  <input type="submit" value="Create Account" />
</form>