<h1>Create a new card!</h1>


<form action='/cards' method="post">
    <label for="player">Player Name:</label>
    <input type="text" name="player" id="player"><br>
    <label for="team">Team:</label>
    <input type="text" name="team" id="team"><br>
    <label for="year">Year:</label>
    <input type="text" name="year" id="year"><br>
    <input type="submit" value="Submit">
    
</form>